.distill-site-nav {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  background: linear-gradient(to right, #414345, #232526);
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #f0f0f0;
  font-weight: bold; 
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.thumbnail {
    padding: 0px!important;
    margin: 0px!important;
    max-width: 15%!important;
    height: auto!important;
    vertical-align: text-top!important;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
